  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: auto;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  }
  
  /* The slider */
  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  
  }
  
  .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  }
  
  input:checked + .slider {
  background-color: #2196F3;
  }
  
  input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
  border-radius: 34px;
  }
  
  .slider.round:before {
  border-radius: 50%;
  }
  
  body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  }
  
  header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  }
  
  section {
  background-color: #fff;
  /* max-width: 500px; */
  margin: 20px auto;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px; /* added max-width to limit the form width /
  margin: auto; / added margin to center the form horizontally */
  }
  
  label {
  margin-bottom: 10px;
  font-weight: bold; /* added font weight to make labels stand out */
  }
  
  input[type="time"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  width: 100%; /* added width to make the time inputs fill their container */
  }
  
  button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* added margin to separate the button from the inputs */
  }
  
  button:hover {
  background-color: #555;
  }